<a href="https://colab.research.google.com/github/rohanbhavsar64/t20-score-predicator/blob/main/scratchpad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
df=pd.read_csv('final.csv')

In [55]:
df

,Unnamed: 0.1,matchId,runs_x,Unnamed: 0,balls,runs_y,battingTeam,bowlingTeam,player_out,city,...,crr,last_five_wickets,last_five_runs,match_id,id,target,runs_left,rrr,x1,winner
0,9214275,823_2,135,69,11.3,1,South Africa,England,0,Cape Town,...,6.173913,0.0,25.0,823,823,134,63,7.411765,1,1
1,9214276,823_2,135,69,11.3,1,South Africa,England,0,Cape Town,...,6.173913,0.0,25.0,823,823,134,63,7.411765,1,1
2,9214277,823_2,135,69,11.3,1,South Africa,England,0,Cape Town,...,6.173913,0.0,25.0,823,823,134,63,7.411765,1,1
3,9214278,823_2,135,69,11.3,1,South Africa,England,0,Cape Town,...,6.173913,0.0,25.0,823,823,134,63,7.411765,1,1
4,9214279,823_2,135,69,11.3,1,South Africa,England,0,Cape Town,...,6.173913,0.0,25.0,823,823,134,63,7.411765,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019649,10239104,9_2,127,101,16.3,0,England,India,1,Bangalore,...,7.696970,8.0,11.0,9,9,202,75,21.428571,-75,0
1019650,10239105,9_2,127,101,16.3,0,England,India,1,Bangalore,...,7.696970,8.0,11.0,9,9,202,75,21.428571,-75,0
1019651,10239106,9_2,127,101,16.3,0,England,India,1,Bangalore,...,7.696970,8.0,11.0,9,9,202,75,21.428571,-75,0
1019652,10239107,9_2,127,101,16.3,0,England,India,1,Bangalore,...,7.696970,8.0,11.0,9,9,202,75,21.428571,-75,0
1019653,10239108,9_2,127,101,16.3,0,England,India,1,Bangalore,...,7.696970,8.0,11.0,9,9,202,75,21.428571,-75,0

In [74]:
df['last_five_runs']=df['last_five_runs'].astype(int)
df['last_five_wickets']=df['last_five_wickets'].astype(int)

In [75]:
df['crr'] = df['crr'].round(decimals=2)
df['rrr'] = df['rrr'].round(decimals=2)

In [76]:
df1=df1=df[['battingTeam','bowlingTeam','city','runs_left','balls_left','last_five_wickets','target','crr','rrr','winner','last_five_runs']]+

In [77]:
df1.dropna(inplace=True)

<ipython-input-77-e0e758ddcf8a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.dropna(inplace=True)

In [78]:
x=df1.drop(columns='winner')
y=df1['winner']

In [79]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest= train_test_split(x,y,test_size=0.2,random_state=1)

In [80]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder()
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse_output=False,handle_unknown = 'ignore'),['battingTeam','bowlingTeam','city'])],remainder='passthrough')

In [81]:
from sklearn.linear_model import LogisticRegression
from sklearn import linear_model
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import Pipeline

In [82]:
pipe=Pipeline(
    steps=[
        ('step1',trf),
        ('step2',LogisticRegression())
    ])

In [83]:
pipe.fit(xtrain,ytrain)

ValueError: Input X contains infinity or a value too large for dtype('float64').

In [97]:
df2=pd.read_csv('/content/2nd Innings T20.csv')

In [98]:
df2['wickets']=df2.groupby('matchId')['player_out'].cumsum()

In [99]:
df2['wickets'].value_counts()

wickets
1     15590
0     15118
2     14573
3     11773
4      8735
5      6432
6      4494
7      3014
8      2011
9      1443
10      137
Name: count, dtype: int64

In [101]:
df2=df2[['matchId','wickets']]

In [102]:
df2.to_csv('wicket.csv')

In [92]:
df.drop(columns=['Unnamed: 0.1','Unnamed: 0'],inplace=True)

In [93]:
df['player_out'].value_counts()

player_out
0    963845
1     55809
Name: count, dtype: int64

In [94]:
df.drop_duplicates(inplace=True)

In [95]:
df['wickets']=df.groupby('matchId')['player_out'].cumsum()

In [96]:
df['wickets'].value_counts()

wickets
0       1766
242      405
123      318
125      310
369      299
        ...
1295       1
1296       1
1297       1
1298       1
1320       1
Name: count, Length: 1321, dtype: int64